lambda functions

single line function, without name, not stored in the memory
they are NO use when they are used alone

in basic python we use lamda function with 
1. map
2. filter

**bcoz broadcasting is not possible

lambda variable/s: operation/s on the variable/s

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
l1 = list(np.random.randint(1, 10, 10))
l1

In [ ]:
list( filter( lambda x: x % 2 != 0, l1 ) )

### Working on the datasets

In data analysis exercise we generally do the following:
   
Rows | Records | Observations
Columns | Fields | Variables

1. Data availability or data import
    get data from files: read_xxxx()
    get the data from databases: pyodbc

2. Understand what needs to be done
    EDA - Exp. Data Analysis
    Charts
    
    Metadata Inspection: Information about the structure of the data
    .dtypes, .shape, .ndim, .columns
    .count(), type()
    
    .info()
       
    Data Inspection: How is the data available and what needs to be performed on the data for furhetr processing
    
    .count(), .mean(), .std(), .min(), .max(), .quantile()
    .describe()
    .head(), .tail()
    
    five point summary:
    min | p0
    q1 | p25
    q2 | p50 | median
    q3 | p75
    max | p100
    
3. Data Prep | Data Cleaning | Data Wrangling | Data Munging
    
    Structure Changes:
    -------------------------
    
    Subsetting
        [] - will be confusing
        .loc[:, ] - to get the data using UDI
        .iloc[:, ] - to get the data using DI
        .column_name - can get only one variable, and that too if variable name follows the INC rules
    
    Reorder the variables
        .loc[:, ], .iloc[:, ], []
    
    Calculated variables
    
        **following will make the data changes permanently
        [ new_variable_name ] = calculated_variable
        .loc[ :, new_variable_name ] = calculated_variable
        .insert()   
        
        **following will make the data changes temporary
        .assign()
        
        .iloc[ new_variable_name ] = calculated_variable    ** THIS operation is NOT possible
    
    Rename
        .rename( columns = {}, inplace = )
        .columns = new_column_names
       
    drop the variables
        .drop( columns = [], inplace = )
    
    Data type conversion
        .astype()
        
        ** we have NOT discussed following methods, will discuss in next week
        pd.to_numeric()
        pd.to_datetime()
        
    
    Data Changes:
    -------------------------
    How to update the data
    Filters
        Manual Filters
            .head(), .tail()
            [] - only using slicers
            .iloc[]
            .loc[]
        
        Conditional Filters
            [], .loc[]
        
    Sorting
    Duplicates
    Outliers
    Missing values
    Groups and Bins
    Summaries
    Combine the datasets
        Joins/Merge
        Append/Union
        Concat/Horizontal append
    Functions
        
4. BI : Reports, Charts and Dashboards / Presentations
   Formats
   
5. Predictive Analytics

In [ ]:
 stores = pd.read_csv('D:/SampleData/stores_new.csv')

In [ ]:
type(stores)

In [ ]:
stores.ndim

In [ ]:
stores.shape

In [ ]:
stores.columns

In [ ]:
stores.dtypes

In [ ]:
stores.count()

In [ ]:
stores.info()

In [ ]:
stores.head( 2 )

In [ ]:
stores.tail( 2 )

In [ ]:
stores.describe().T

In [ ]:
stores.head(1)

In [ ]:
stores.columns

In [ ]:
stores['StoreType'].head(2)

In [ ]:
stores.loc[:, 'StoreType'].head(2)

In [ ]:
stores.iloc[:, 2].head(2)

In [ ]:
stores.StoreType.head(2)

In [ ]:
stores.Store_Type

In [ ]:
stores.OperatingCost.quantile(0)

In [ ]:
stores.head(1)

In [ ]:
stores.iloc[:, 0:3].head(2)

In [ ]:
stores.iloc[:, [0, 1, 2, 7, 1, 0]].head(2)

In [ ]:
stores.loc[:, ['StoreCode', 'StoreName', 'StoreType', 'TotalSales', 'StoreCode']].head(2)

In [ ]:
stores[['StoreCode', 'StoreName', 'StoreType', 'TotalSales', 'StoreCode']].head(2)

In [ ]:
stores.head(2)

In [ ]:
# Get the new variable in the stores data TotalCost, with following gcalculation
# OperatingCost + Tot_Customers * AcqCostPercust

In [ ]:
stores['TotalCost1'] = stores.OperatingCost + stores.Total_Customers * stores.AcqCostPercust

In [ ]:
stores.columns

In [ ]:
stores.shape

In [ ]:
stores.loc[:, 'TotalCost2'] = stores.OperatingCost + stores.Total_Customers * stores.AcqCostPercust

In [ ]:
stores.columns

In [ ]:
# NA
stores.iloc[:, 18] = stores.OperatingCost + stores.Total_Customers * stores.AcqCostPercust

In [ ]:
stores.insert( 2, 'TotalCost3', 
                      stores.OperatingCost + stores.Total_Customers * stores.AcqCostPercust )

In [ ]:
stores.shape

In [ ]:
stores.shape[1]

In [ ]:
stores.insert( 2, 'TotalCost4', 10 )

In [ ]:
stores.head(2)

In [ ]:
stores.assign( CP1 = stores.OperatingCost + stores.Total_Customers * stores.AcqCostPercust,
                 CP2 = 15,
                     CP3 = stores.Total_Customers * stores.AcqCostPercust ).head(3)

In [ ]:
stores.columns

In [ ]:
stores.rename( columns = {'TotalCost1': 'TotalCost_1', 
                          'TotalCost2': 'TotalCost_2'}, inplace = True )

In [ ]:
stores.drop( columns = ['TotalCost_1', 'TotalCost_2', 'TotalCost3', 'TotalCost4'], inplace = True )

In [ ]:
stores.columns

In [ ]:
stores.shape

In [ ]:
s1 = pd.Series( ['$15', '$20', '$25', '$30'] )

In [ ]:
s1

In [ ]:
s1.sum()

In [ ]:
print(dir(str))

In [ ]:
var = 'Python'

In [ ]:
var.lower()

In [ ]:
var.upper()

In [ ]:
var.swapcase()

In [ ]:
s2 = pd.Series(['Python', 'Class', 'py'])

In [ ]:
s2

In [ ]:
s2.upper()

In [ ]:
s2.str.upper()

In [110]:
s1

0    $15
1    $20
2    $25
3    $30
dtype: object

In [ ]:
s1.str.replace( '$', '' ).astype( np.int8 )

#### filters

In [ ]:
# get the first two records from stores dataset

In [118]:
stores.head(2)

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,Dummy,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.9,2.620,16.46,NaN,0,1,4,4
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.9,2.875,17.02,NaN,0,1,4,4

In [119]:
stores.iloc[0:2]

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,Dummy,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.9,2.620,16.46,NaN,0,1,4,4
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.9,2.875,17.02,NaN,0,1,4,4

In [120]:
stores.loc[0:1]

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,Dummy,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.9,2.620,16.46,NaN,0,1,4,4
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.9,2.875,17.02,NaN,0,1,4,4

In [121]:
stores[0:2]

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,Dummy,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.9,2.620,16.46,NaN,0,1,4,4
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.9,2.875,17.02,NaN,0,1,4,4

In [126]:
stores.iloc[[0, 2, 9, 30], :]

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,Dummy,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.62,16.46,NaN,0,1,4,4
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.32,18.61,NaN,1,1,4,1
9,STR110,Apparel Zone,Apparel,Chennai,19.2,60,167.6,123,3.92,3.44,18.30,NaN,1,0,4,4
30,STR131,Fashion Bazar,Apparel,Kolkata,15.0,80,301.0,335,3.54,3.57,14.60,NaN,0,1,5,4

In [125]:
stores.loc[[0, 2, 9, 30], :]

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,Dummy,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.62,16.46,NaN,0,1,4,4
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.32,18.61,NaN,1,1,4,1
9,STR110,Apparel Zone,Apparel,Chennai,19.2,60,167.6,123,3.92,3.44,18.30,NaN,1,0,4,4
30,STR131,Fashion Bazar,Apparel,Kolkata,15.0,80,301.0,335,3.54,3.57,14.60,NaN,0,1,5,4

In [127]:
# get the 10 records from stores randomly selected with repeatition
# simple random sampling

In [130]:
stores.iloc[ np.random.randint(0, stores.shape[0], 10) ]

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,Dummy,OwnStore,OnlinePresence,Tenure,StoreSegment
26,STR127,Super Bazar,Super Market,Kolkata,26.0,40,120.3,91,4.43,2.140,16.70,NaN,0,1,5,2
18,STR119,Super Bazar,Super Market,Mumbai,30.4,40,75.7,52,4.93,1.615,18.52,NaN,1,1,4,2
14,STR115,Fashion Bazar,Apparel,Chennai,10.4,80,472.0,205,2.93,5.250,17.98,NaN,0,0,3,4
5,STR106,Apparel Zone,Apparel,Delhi,18.1,60,225.0,105,2.76,3.460,20.22,NaN,1,0,3,1
15,STR116,Digital Bazar,Electronincs,Chennai,10.4,80,460.0,215,3.00,5.424,17.82,NaN,0,0,3,4
8,STR109,Electronics Zone,Electronincs,Chennai,22.8,40,140.8,95,3.92,3.150,22.90,NaN,1,0,4,2
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,NaN,0,1,4,4
27,STR128,Super Market,Super Market,Kolkata,30.4,40,95.1,113,3.77,1.513,16.90,NaN,1,1,5,2
20,STR121,Central Store,Super Market,Mumbai,21.5,40,120.1,97,3.70,2.465,20.01,NaN,1,0,3,1
13,STR114,Apparel Zone,Apparel,Chennai,15.2,80,275.8,180,NaN,3.780,18.00,NaN,0,0,3,3

In [131]:
stores.loc[ np.random.randint(0, stores.shape[0], 10) ]

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,Dummy,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.90,2.620,16.46,NaN,0,1,4,4
2,STR103,Super Bazar,Super Market,Delhi,22.8,40,108.0,93,3.85,2.320,18.61,NaN,1,1,4,1
24,STR125,Electronics Zone,Electronincs,Kolkata,19.2,80,400.0,175,3.08,3.845,17.05,NaN,0,0,3,2
10,STR111,Super Bazar,Super Market,Chennai,17.8,60,167.6,123,3.92,3.440,18.90,NaN,1,0,4,4
4,STR105,Central Store,Super Market,Delhi,18.7,80,360.0,175,3.15,3.440,17.02,NaN,0,0,3,2
3,STR104,Super Market,Super Market,Delhi,21.4,60,258.0,110,3.08,3.215,19.44,NaN,1,0,3,1
7,STR108,Digital Bazar,Electronincs,Delhi,24.4,40,146.7,62,3.69,3.190,20.00,NaN,1,0,4,2
19,STR120,Super Market,Super Market,Mumbai,33.9,40,71.1,65,4.22,1.835,19.90,NaN,1,1,4,1
6,STR107,Fashion Bazar,Apparel,Delhi,14.3,80,360.0,245,3.21,3.570,15.84,NaN,0,0,3,4
19,STR120,Super Market,Super Market,Mumbai,33.9,40,71.1,65,4.22,1.835,19.90,NaN,1,1,4,1

In [ ]:
# get the records from stores where location is Mumbai

In [132]:
stores[ stores.Location == 'Mumbai' ]

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,Dummy,OwnStore,OnlinePresence,Tenure,StoreSegment
16,STR117,Electronics Zone,Electronincs,Mumbai,14.7,80,440.0,230,3.23,5.345,17.42,NaN,0,0,3,4
17,STR118,Apparel Zone,Apparel,Mumbai,32.4,40,78.7,66,4.08,2.200,19.47,NaN,1,1,4,1
18,STR119,Super Bazar,Super Market,Mumbai,30.4,40,75.7,52,4.93,1.615,18.52,NaN,1,1,4,2
19,STR120,Super Market,Super Market,Mumbai,33.9,40,71.1,65,4.22,1.835,19.90,NaN,1,1,4,1
20,STR121,Central Store,Super Market,Mumbai,21.5,40,120.1,97,3.70,2.465,20.01,NaN,1,0,3,1
21,STR122,Apparel Zone,Apparel,Mumbai,15.5,80,318.0,150,2.76,3.520,16.87,NaN,0,0,3,2
22,STR123,Fashion Bazar,Apparel,Mumbai,15.2,80,304.0,150,3.15,3.435,17.30,NaN,0,0,3,2
23,STR124,Digital Bazar,Electronincs,Mumbai,13.3,80,350.0,245,3.73,3.840,15.41,NaN,0,0,3,4

In [133]:
stores.iloc[ stores.Location == 'Mumbai' ]
# NA

NotImplementedError: iLocation based boolean indexing on an integer type is not available

In [134]:
stores.loc[ stores.Location == 'Mumbai' ]

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,Dummy,OwnStore,OnlinePresence,Tenure,StoreSegment
16,STR117,Electronics Zone,Electronincs,Mumbai,14.7,80,440.0,230,3.23,5.345,17.42,NaN,0,0,3,4
17,STR118,Apparel Zone,Apparel,Mumbai,32.4,40,78.7,66,4.08,2.200,19.47,NaN,1,1,4,1
18,STR119,Super Bazar,Super Market,Mumbai,30.4,40,75.7,52,4.93,1.615,18.52,NaN,1,1,4,2
19,STR120,Super Market,Super Market,Mumbai,33.9,40,71.1,65,4.22,1.835,19.90,NaN,1,1,4,1
20,STR121,Central Store,Super Market,Mumbai,21.5,40,120.1,97,3.70,2.465,20.01,NaN,1,0,3,1
21,STR122,Apparel Zone,Apparel,Mumbai,15.5,80,318.0,150,2.76,3.520,16.87,NaN,0,0,3,2
22,STR123,Fashion Bazar,Apparel,Mumbai,15.2,80,304.0,150,3.15,3.435,17.30,NaN,0,0,3,2
23,STR124,Digital Bazar,Electronincs,Mumbai,13.3,80,350.0,245,3.73,3.840,15.41,NaN,0,0,3,4

In [135]:
# get the data for Mumbai Location where the sales GE 300. 
# Get only StoreName, TotalCost, OperatingCost

In [140]:
# this is a two step process, NOT very much recommended
stores[ (stores.Location == 'Mumbai') & (stores.TotalSales >= 300) ][['StoreName', 'TotalSales', 'OperatingCost']]

           StoreName  TotalSales  OperatingCost
16  Electronics Zone       440.0           14.7
21      Apparel Zone       318.0           15.5
22     Fashion Bazar       304.0           15.2
23     Digital Bazar       350.0           13.3

In [139]:
# 1 step process, should be used for practical purpose
stores.loc[ (stores.Location == 'Mumbai') & (stores.TotalSales >= 300), 
                       ['StoreName', 'TotalSales', 'OperatingCost']]

           StoreName  TotalSales  OperatingCost
16  Electronics Zone       440.0           14.7
21      Apparel Zone       318.0           15.5
22     Fashion Bazar       304.0           15.2
23     Digital Bazar       350.0           13.3

In [141]:
# get the obs from stores where location is Delhi or Mumbai

In [142]:
stores[ stores.Location in ('Delhi', 'Mumbai') ]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [144]:
stores[ (stores.Location == 'Delhi') | (stores.Location == 'Mumbai') ].head(2)

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,Dummy,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.9,2.620,16.46,NaN,0,1,4,4
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.9,2.875,17.02,NaN,0,1,4,4

In [147]:
stores[ stores.Location.isin( ['Delhi', 'Mumbai'] ) ].head(2)

,StoreCode,StoreName,StoreType,Location,OperatingCost,Staff_Cnt,TotalSales,Total_Customers,AcqCostPercust,BasketSize,ProfitPercust,Dummy,OwnStore,OnlinePresence,Tenure,StoreSegment
0,STR101,Electronics Zone,Electronincs,Delhi,21.0,60,160.0,110,3.9,2.620,16.46,NaN,0,1,4,4
1,STR102,Apparel Zone,Apparel,Delhi,21.0,60,160.0,110,3.9,2.875,17.02,NaN,0,1,4,4

In [151]:
pd.read_excel?

In [149]:
stores.to_excel('D:/stores.xlsx')

From the Assignment:

All the questions with data import
Q1-Q10
Q21-Q23